body {
  background-color: bisque;
  font-family: sans-serif;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0,0,0,0.6);
  color: white;
  padding: 10px 30px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-left: 15px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

h2 {
  margin: 20px 0;
}

.menu-section{
  margin: 30px auto;
  max-width: 700px;
  text-align: left;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.prawns, .vegetable{
  display: flex;
  justify-content: space-between;

}
.prawns_p, .vegetable_p {
  margin-top: 0;
  
}


form input, form textarea, form button {
  width: 90%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

footer {
  background-color: #eee;
  padding: 15px;
  margin-top: 40px;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
  }
  form input, form textarea {
    width: 100%;
  }
}
